.centrar{
    text-align: center;
}

.alinearIzquierda{
    text-align: left;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.fondo{
  background-color: blue;
}